@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Merriweather", serif;
}
/* Banner section start here */
.banner-container {
  max-width: 1320px;
  min-height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(../images/Banner\ Image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  align-items: center;
}
.banner-content p {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
}
.banner-content h1 {
  color: #ffffff;
  font-size: 72px;
  font-weight: 900;
}
/* 65% section start here */

.second-section-container {
  width: 802.9px;
  height: 806px;
  border: 2px solid red;
  margin: 0 auto;
  margin-top: 90px;
}
