@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Merriweather", serif;
}
/* Banner section start here */
.banner-container {
  max-width: 1320px;
  min-height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(../images/Banner\ Image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  align-items: center;
}
.banner-content p {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
}
.banner-content h1 {
  color: #ffffff;
  font-size: 72px;
  font-weight: 900;
}
/* 65% section start here */

.second-section-container {
  width: 802.9px;
  height: 806px;
  margin: 0 auto;
  margin-top: 90px;
}
.second-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-section-content h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.second-section-content p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.second-section-content h3 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.second-section-img {
  width: 802.9px;
  height: 500px;
  margin-top: 48px;
}
.second-section-img img {
  width: 100%;
  height: 100%;
}
/* midnight party section styles start here */
.midnight-container {
  max-width: 1320px;
  min-height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      90deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url(../images/Vectorrr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-bottom: 120px;
  border-radius: 20px 20px 20px 20px;
}
.left-content {
  width: 60%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 30px;
}
.left-content h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 24px;
  margin-left: 126px;
}
.left-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
  margin-left: 126px;
}
#midnight-button {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  margin-left: 158px;
}
.right-content {
  width: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-content img {
  width: 349.16px;
  height: 464.65px;
}
/* event-time-section start here */
.event-time-section {
  max-width: 1320px;
  min-height: 482px;
  /* border: 2px solid rebeccapurple; */
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 120px;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0));
}

.event-p-color {
  color: #ff0000;
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
}
.event-description {
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}
.event-btn {
  text-align: center;
}
.event-btn button {
  width: 167px;
  height: 56px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: rgb(255, 0, 0);
  border: none;
  margin-top: 48px;
}
/* new offer section start here */
.new-offer-container {
  max-width: 1320px;
  min-height: 463px;
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  margin-bottom: 120px;
}
.new-offer-left {
  width: 463px;
  height: 463px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.new-offer-left h4 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.new-offer-left h1 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.new-offer-left p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.new-offer-middle {
  min-width: 463px;
  min-height: 463px;
  /* border: 2px solid rgb(9, 12, 192); */
  border-radius: 50%;
  box-sizing: border-box;
  border: 15px solid rgb(255, 0, 0);
}
.new-offer-middle img {
  width: 90%;
}
.new-offer-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.new-offer-right {
  width: 276px;
  height: 170px;
  /* border: 2px solid yellow; */
  margin-left: 150px;
  margin-top: 112px;
}
.new-offer-right h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.new-offer-right p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.new-offer-right img {
  margin-top: 45px;
}
/* holiday section style */
.hiliday-section-container {
  max-width: 1320px;
  min-height: 986px;
  /* border: 2px solid red; */
  margin: 0 auto;
  margin-bottom: 120px;
  position: relative;
}
.holiday-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1068px;
  height: 260px;
  margin: 0 auto;
}
.holiday-container h5 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holiday-container h1 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
.holiday-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}
.holiday-container span {
  color: #ff0000;
}
.solid-color {
  width: 1320px;
  height: 229px;
  border-radius: 16px 0px 16px 16px;
  background-color: rgb(255, 0, 0);
  position: absolute;
  top: 76.7%;
}
.gift-box {
  width: 674.82px;
  height: 577.96px;
  position: relative;
  z-index: 1;
}
.discount {
  position: absolute;
  top: 20%;
  left: 140%;
}
